

<section>
   
    <div class="child" id="<%= singleBook.id %>"> 
      <img src="<%= singleBook.image_url %>" alt="">
  
      <h2> <%=  singleBook.title %> </h2>
      
      <h3><%=  singleBook.author %></h3>
  
      <p><%= singleBook.descr %> </p>
      <p><%= singleBook.isbn %> </p>

  </div>

  
</section>



