<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/style.css">
    <title>Document</title>
</head>
<body>

    <header>

        <nav id="navBar">Best Books!</nav>
        <div id="div_nav">Search By Title or Author</div>
    
    <div id="side-nav">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
              </div>
              <span style="font-size:45px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776; </span>
            </div>
        </header>
    
 <% booksItems.forEach((element, ind) => { %>
   
  <div class="child" id="<%= ind %>"> 
    <img src="<%= element.img %>" alt="">

    <h2> <%=  element.title %> </h2>
    
    <h3><%=  element.author %></h3>

    <p><%= element.isbn %> </p>
    <p><%= element.description %> </p>
</div>



<form action="/books" method="POST">
    <label for="title">Book Title:</label><br>
    <input type="text" id="title" name="title" value="<%=  element.title %>"><br><br>

    <label for="author">Book author:</label><br>
    <input type="text" id="author" name="author" value="<%=  element.author %>"><br><br>

    <label for="isbn">Book isbn:</label><br>
    <input type="text" id="isbn" name="isbn" value="<%=  element.isbn %>"><br><br>



    <label for="image_url">Book Img:</label><br>
    <input type="text" id="image_url" name="image_url" value="<%= element.img %>"><br><br>

    <label for="descr">Book description:</label><br>

    <textarea id="descr" name="descr" rows="4" cols="50">
        <%= element.description %>
        </textarea><br><br>



    <input type="submit" value="Add To Collection">
  </form>

  <% }); %>


<script src="../../../public/styles/js/app.js"></script>
</body>
</html>