<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
<body>

    <%- include('../../layout/header') %>
    
    <% booksItems.forEach((element, ind) => { %>
   
  <div class="child" id="<%= ind %>"> 
    <img src="<%= element.img %>" alt="">

    <h2> <%=  element.title %> </h2>
    
    <h3><%=  element.author %></h3>

    <p><%= element.isbn %> </p>
    <p><%= element.description %> </p>
</div>


<form  action="/books" method="POST">
  <div class="form_div" style="display: none;">

    <input type="hidden" id="id" name="id" value="<%=  element.id %>"><br><br>
    <label  for="title">Book Title:</label><br>
    <input type="text" id="title" name="title" value="<%=  element.title %>"><br><br>

    <label  for="author">Book author:</label><br>
    <input type="text" id="author" name="author" value="<%=  element.author %>"><br><br>

    <label  for="isbn">Book isbn:</label><br>
    <input type="text" id="isbn" name="isbn" value="<%=  element.isbn %>"><br><br>



    <label   for="image_url">Book Img:</label><br>
    <input type="text" id="image_url" name="image_url" value="<%= element.img %>"><br><br>

    <label for="descr">Book description:</label><br>

    <textarea  id="descr" name="descr" rows="4" cols="50" >
        <%= element.description %>
        </textarea><br><br>

      </div>

        <input  type="submit" value="Add To Collection">
      </form>

  <% }); %>

<footer>
<script src="../../../public/styles/js/app.js"></script>
</footer>
</body>
</html>