<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
    
             <h4> <%=  count %> </h4>

        <% DBbooks.forEach((element, ind) => { %>
   
            <div class="child" id="<%= element.id %>"> 
              <img src="<%= element.image_url %>" alt="">
          
              <h2> <%=  element.title %> </h2>
              
              <h3><%=  element.author %></h3>


              <input id="detailsBtn" type="submit" value="Show Details" onclick="location.href = `https://book---app.herokuapp.com/books/${<%= element.id %>}`;" ><br>
          
              
          </div>
          <% }); %>

    <script src="public/styles/js/app.js"></script>
</body>
</html>
